/*
 *		pywal theme template for notepadqq by threadreaper
 *		https://github.com/threadreaper
 */

.cm-s-nqqwal .CodeMirror-gutters { background: #0f1722 !important; }
.cm-s-nqqwal .CodeMirror-foldgutter-open, .CodeMirror-foldgutter-folded { color: #c3c5c7; }
.cm-s-nqqwal .CodeMirror-cursor { border-left: 1px solid #c3c5c7; background-color: rgba(161,118,159,0.4)}
.cm-s-nqqwal { background-color: #0f1722; color: #c3c5c7; }
.cm-s-nqqwal span.cm-builtin { color: #5A5761; font-weight: bold; }
.cm-s-nqqwal span.cm-comment { color: #5e6773; }
.cm-s-nqqwal span.cm-keyword { color: #A0081A; font-weight: bold; }
.cm-s-nqqwal span.cm-atom { color: #B43644; }
.cm-s-nqqwal span.cm-def { color: #976868; }
.cm-s-nqqwal span.cm-variable { color: #A1769F; }
.cm-s-nqqwal span.cm-variable-2 { color: #976868; }
.cm-s-nqqwal span.cm-string { color: #5A5761; }
.cm-s-nqqwal span.cm-string-2 { color: #5A5761; }
.cm-s-nqqwal span.cm-number { color: #976868; }
.cm-s-nqqwal span.cm-tag { color: #A0081A; }
.cm-s-nqqwal span.cm-property { color: #A1769F; }
.cm-s-nqqwal span.cm-attribute { color: #A1769F; }
.cm-s-nqqwal span.cm-qualifier { color: #B43644; }
.cm-s-nqqwal span.cm-meta { color: #976868; }
.cm-s-nqqwal span.cm-header { color: #A0081A; }
.cm-s-nqqwal span.cm-operator { color: #A0081A; }
.cm-s-nqqwal span.CodeMirror-matchingbracket { box-sizing: border-box; background: transparent; border-bottom: 1px solid; }
.cm-s-nqqwal span.CodeMirror-nonmatchingbracket { border-bottom: 1px solid; background: none; }
.cm-s-nqqwal .CodeMirror-activeline-background { background: rgba(151,104,104,0.4); }
.cm-s-nqqwal div.CodeMirror-selected { background: #A0081A; }
.cm-s-nqqwal .CodeMirror-focused div.CodeMirror-selected { background: #0f1722); }
